.campo{
    margin: 1em 0;
}

.campo label{
    display: block;
    margin-bottom:8px;
    font-size: 1em;
    font-weight: 600;
    color:#FFF;
}

.campo input{
    background-color: #191919;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    width:400px;
    border:none;
    padding: 1em;
    box-sizing:border-box;
    font-size:1em;
    color:#FFF;
}

.campo-color input{
    padding:5px 24px;
    height: 40px;
}