.lista-suspensa label{
    display: block;
    margin-bottom:8px;
    font-size: 1em;
    font-weight: 600;
    color:#FFF;
}

.lista-suspensa select{
    background-color: #191919;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
    width:100%;
    border:none;
    padding: 1em;
    box-sizing:border-box;
    font-size:1em;
    color:#FFF;
}